.about {
    padding: 30px 0;
}

.about-left {}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-right img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

/* .vision {
    background-color: yellow;
} */

.vision-bg {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 250px;
    width: 100%;
    padding: 48px;
    font-weight: 600;
    font-size: 32px;
    /* line-height: 36px; */
    margin: 0 0 48px;
    color: var(--whiteColor);
}



.left-vision-bg {
    background-color: var(--inputBg);

}

.right-vision-bg {
    background-color: #198F5C;
}


.vision-title {
    margin: 20px 0;
}

.vision-content {
    font-weight: 400;
    font-size: 16px;
}

.vision {
    margin: 40px 0;
}

.our-values {
    /* background-color: yellow; */
}

.values-title {
    font-weight: 800;
    font-size: 40px;

}

.values-col {
    position: relative;
    /* background-color: red; */
    border: 1px solid var(--inputBg);
    width: 250px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px auto;
}

.values-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.values-col-title {
    color: #198F5C;
}

.values-abs {
    position: absolute;
    top: -5%;
}

.values-col {
    position: relative;
    width: 250px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px auto;
    overflow: hidden;
}

/* Border animasiyası üçün 4 tərəf */
.values-col::before,
.values-col::after,
.values-col span::before,
.values-col span::after {
    content: "";
    position: absolute;
    background-color: #198F5C;
    transition: all 0.4s linear;

}

/* Üst tərəf */
.values-col::before {
    height: 2px;
    width: 0%;
    top: 0;
    left: 0;
}

/* Sağ tərəf */
.values-col::after {
    width: 2px;
    height: 0%;
    top: 0;
    right: 0;
}

/* Alt tərəf */
.values-col span::before {
    height: 2px;
    width: 0%;
    bottom: 0;
    right: 0;
}

/* Sol tərəf */
.values-col span::after {
    width: 2px;
    height: 0%;
    bottom: 0;
    left: 0;
}

/* Hover zamanı animasiya */
.values-col:hover::before {
    width: 100%;
}

.values-col:hover::after {
    height: 100%;
}

.values-col:hover span::before {
    width: 100%;
}

.values-col:hover span::after {
    height: 100%;
}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 992px) {
    .values-col {
        /* position: relative; */
        /* background-color: red; */
        /* border: 1px solid var(--inputBg); */
        width: 45%;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px auto;
        /* cursor: pointer; */
    }
}

@media only screen and (max-width: 576px) {
    .values-col {
        width: 100%;
        /* background-color: red; */
    }
    .about-right img{
        width: 50%;
    }
    .about-right{
        margin-top: 10px;
    }
}