.contact {
    /* background-color: red; */
}

.contact-title {
    font-size: 20px;
}

.contact-apply {
    /* background-color: red; */
}

.contact-title {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: var(--menuColor);
}

.contact-blog .form-group {
    font-size: 14px;
    margin-bottom: .4rem;
    font-weight: 500;
    line-height: 2rem;
    color: #050f21;
}

.contact-blog .form-group textarea {
    height: 150px;
}

.btn-contact-send {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    background-color: var(--headerColor);
    margin: 20px 0;
    padding: 10px 0;
    color: var(--whiteColor);
    transition: all .5s ease-in-out;
}

.btn-contact-send:hover {
    background-color: var(--countColor);
    color: var(--whiteColor);
    transform: scale(1.03);
}

.contact-information {
    /* margin: 20px 0; */
    font-weight: 500;
    font-size: 18px;
}

.contact-information-text {
    font-weight: 600;
}

.contact-info-ul {
    margin: 5px 0;
    color: var(--menuColor);
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.contact-info-ul img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contact-info-ul span {
    margin-right: 10px;
    font-size: 13px;
}

.contact-info-a {
    color: var(--menuColorActive);

}

.contact-map iframe {
    margin-bottom: 30px;
}

.btn-contact-send {
    background-color: var(--inputBg);
    width: 15%;
    display: block;
    margin: 50px auto;
}