.static {
    height: auto;
    font-family: "Noto Sans", sans-serif;
    margin: 40px 0;
}

.static_title {
    font-size: 20px;
    font-weight: 700;
    color: var(--count);
    line-height: 1.4;
}

.static_content {
    text-align: justify;
    padding: 8px 0;
}

.static img {
    max-width: 100%;
    display: block;
    margin: 15px 0;
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .static {
        margin: 30px auto;
    }

    .static_content {
        padding: 8px 0;
        font-size: 15px;
    }

    .static_title {
        font-size: 14px;
    }
}